@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

--root {
  --primColor: #fe8c3e;
  --bgColor: #fdfbfb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", serif;
  background: var(--bgColor);
}
